/* Z-Index -> 1 */

* {

    box-sizing: border-box;

}

html {

    background-color: hsl(185, 75%, 39%);

}

html::after,
html::before {

    content: '';
    position: fixed;
    display: block;
    z-index: -1;

}

html::after {

    top: 0;
    left: 0;
    background-image: url('../assets/images/bg-pattern-top.svg');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position-x: -200px;
    background-position-y: -400px;
    width: 600px;
    height: 600px;

}

html::before {

    bottom: 0;
    right: 0;
    background-image: url(../assets/images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position-x: 0px;
    background-position-y: 260px;
    width: 600px;
    height: 600px;

}

body {

    min-height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
    margin: 0;

}

.card {

    background-color: #FFFEFE;
    width: 350px;
    height: 370px;
    border-radius: 15px;
    box-shadow: 0px 50px 100px rgba(8, 70, 90, 0.51)
    ;
    margin-top: 25%;
    overflow: hidden;

}

.card-bg-header {

    width: 100%;

}

.user-img {

    position: relative;
    top: -55px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    background-color: #FFFEFE;
    border-radius: 50px;
    overflow: hidden

}

.UImg {

    padding: 5px;
    width: 100%;
    border-radius: 54px;

}

.card-body {

    position: relative;
    width: 100%;
    height: 40%;

}

.card-text {

    font-family: 'Dancing Script', cursive;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 60px;

}

.name {

    color: #2D3248;
    font-size: 26px;
    margin-right: 10px;

} 

.age,
.country {

    color: rgba(45, 50, 72, 0.8);

}

.country {

    font-size: 20px;
    display: block;

}

.card-footer {

    position: relative;
    background-color: #FFFEFE;
    width: 100%;
    height: 100%;
    border-top: 1px solid rgba(45, 50, 72, 0.11);
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #2D3248;

}

.Followers {

    position: absolute;
    top: 0;
    left: 20px;

}

.Likes {

    position: relative;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;

}

.Photos {

    position: absolute;
    top: 0;
    right: 20px;

}

.Followers,
.Likes,
.Photos {

    display: inline-block;
    width: 110px;
    height: 100%;
    margin-top: 20px;
    font-size: 18px;


}

.Followers span,
.Likes span,
.Photos span {

    margin-top: 5px;
    display: block;
    color: rgba(45, 50, 72, 0.8);
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    letter-spacing: 2px;

} 

@media only screen and (max-width: 800px) {

    html::after {

        background-size: 600px;
        background-position-x: -200px;
        background-position-y: -300px;
        width: 400px;
        height: 400px;
    
    }
    
    html::before {
    
        background-size: 600px;
        background-position-x: 0px;
        background-position-y: 0px;
        width: 400px;
        height: 400px;
    
    }
    
}

@media only screen and (max-width: 400px) {

    html::after {

        background-size: 600px;
        background-position-x: -400px;
        background-position-y: -300px;
        width: 200px;
        height: 200px;
    
    }
    
    html::before {
    
        background-size: 600px;
        background-position-x: 0px;
        background-position-y: 0px;
        width: 200px;
        height: 200px;
    
    }
    
}